<form
    class="g-1 p-2 row border bg-light rounded-1 position-relative"
    [formGroup]="inputForm"
    (ngSubmit)="onSubmit($event)"
>
    <div class="col m-0 me-1">
        <label for="dataList" class="form-label fw-600">Choose city</label>
        <div class="form-group position-relative">
            <input
                class="input form-control border-primary focus-ring-primary"
                id="dataList"
                placeholder="Type to search..."
                [formControl]="inputForm.controls['inputValue']"
            >
            <div class="suffix position-absolute top-0 end-0 bottom-0 d-flex align-items-center">
                <app-spinner color="primary" [componentName]="INPUT_AUTOCOMPLETE_LOADING_COMPONENT"></app-spinner>
            </div>
            @if (menuOpened() && inputForm.value.inputValue && inputForm.value.inputValue.length > 0) {
                <app-options-list
                    [dataOptionsInput]="dataOptionsInput()"
                    (optionSelected)="onOptionSelect($event)"
                ></app-options-list>
            }
        </div>
    </div>
    <div class="col-auto d-flex align-items-end">
        <button
            type="submit"
            class="btn btn-primary justify-content-end"
            [disabled]="!isValid()"
        >
            Add city
        </button>
    </div>
</form>
